*.mp3
*.m4a
*.wav
*.flac

*.png
*.jpg
*.jpeg
*.gif

.venv/*

temp/*

build/*
dist/*
*.egg-info/*
*.egg/*
*.egg-info
*.spec

*.pyc

*/__pycache__/*
*/.pytest_cache/*
*/.mypy_cache/*
*/.tox/*
*/.vscode/*
*/.idea/*
*/.mypy_cache/*
*/.pytest_cache/*
*/.coverage